[submodule "jekyll-fancy-tables"]
	path = jekyll-fancy-tables
	url = https://github.com/RichDom2185/jekyll-fancy-tables.git
[submodule "jekyll-admonitions"]
	path = jekyll-admonitions
	url = https://github.com/RichDom2185/jekyll-admonitions.git
[submodule "jekyll-capture-html"]
	path = jekyll-capture-html
	url = https://github.com/RichDom2185/jekyll-capture-html.git
[submodule "jekyll-plantuml"]
	path = jekyll-plantuml
	url = https://github.com/RichDom2185/jekyll-plantuml.git
[submodule "jekyll-auto-tooltips"]
	path = jekyll-auto-tooltips
	url = https://github.com/RichDom2185/jekyll-auto-tooltips.git
